body {
  background-color: antiquewhite;
  margin: 0;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.menu li {
  float: left;
}

.menu > li > a {
  display: block;
  padding: 15px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  color: azure;
}

a:hover {
  background-color: cadetblue;
}

main {
  padding: 10px;
}

.active {
  background-color: rgb(66, 65, 65);
}
